TWILIO_ACCOUNT_SID=your_account_sid_here
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_PHONE_NUMBER=+1234567890

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USERNAME=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
COMPANY_NAME=Support Desk
COMPANY_EMAIL=support@company.com
SUPPORT_PHONE=+19876543210
